body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
  padding-left: 66px;
  padding-top: 68px;
  background-color: white;
}

/* Left column (menu) */
.left {
  flex: 35%;
  background-color: white;
  border-right: 1px solid black;
  /* border-left: 1px solid black; */
  width: 25%;
}

/* ----------------account plus icon-------------------- */
.plusicon {
  padding: 15px;
  margin-left: 40%;
}

.plusicon a {
  color: #0f6b93;
  text-decoration: none;
}

/* ---------------------------- */
.divide {
  overflow-y: scroll;
  height: 430px;
}

/* Right column (page content) */
.right {
  flex: 75%;
  padding-left: 3px;
  margin-left: 26.5%;
  background-color: white;
  z-index: 1;
  padding-right: 1px;
}

.rightbar {
  overflow: scroll;
}

#header {
  /* margin-top: 5px; */
  padding-top: 20px;
  height: 60px;
  width: 100%;
  background: rgb(231, 231, 231);
  text-align: center;
  font-weight: bold;
  color: rgb(9, 9, 9);
  border: 1px solid rgb(83, 83, 83);
  border-radius: 1px;
}

/* ------------account section search box----------------- */
.inbox {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 0;
  border-bottom: 1px solid black;
  padding-top: 12px;
  padding-left: 5px;
}

.inbox>i {
  font-size: 20px;
  color: #0f6b93;
}

.inbox input[type="text"] {
  height: 20px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: larger;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 18px;
  text-decoration: none;
  color: black;
  display: block;
}

#myMenu li a:hover {
  background-color: #045679;
  color: white;
  padding-left: 30px;
}

/* -------------show more left section--------------- */
#more {
  display: none;
}

#myBTN {
  border: none;
  height: 40px;
  width: 100%;
}

/* ----------------right acc section-------------------- */
.containerA1 {
  padding-top: 7px;
  display: grid;
  height: 60px;
  grid-template-columns: 2.7fr 1.2fr;
}

#content1 {
  width: 100%;
}

#content1 label {
  color: #216c98;
  top: -20px;
  left: 5px;
  font-size: small;
  font-size: 11px;
}

.inputTextA1,
input[type="text"] {
  padding-left: 7px;
  border: 0.1px solid rgb(218, 217, 217);
  border-radius: 1px;
  height: 59px;
  width: 100%;
  font-size: medium;
  font-weight: lighter;
  font-size: 15px;
  outline-color: #216c98;
}

#content2 {
  border-radius: 1px;
  width: 100%;
  height: 60px;
}

#content2 label {
  color: #216c98;
  top: -20px;
  left: 5px;
  font-size: small;
  font-size: 11px;
}

.selecter,
select {
  padding: 5px;
  height: 59px;
  border-radius: 1px;
  font-size: small;
  font-size: 11px;
  background-color: white;
  position: relative;
  border: 0.5px solid rgb(218, 217, 217);
  color: black;
  outline-color: #216c98;
}

.containerA2 {
  padding-top: 6px;
  display: grid;
  height: 60px;
  /* grid-template-columns: 2.7fr; */
}

#content3 {
  /* border: 0.5px solid rgb(218, 217, 217); */
  height: 59px;
  width: 100%;
  background-color: rgb(213, 215, 215);
}

#content3 label {
  color: #216c98;
  top: -20px;
  left: 5px;
  font-size: small;
  font-size: 11px;
}

.containerA3 {
  padding-top: 5px;
  display: grid;
  height: 60px;
  grid-template-columns: 2.7fr;
}

#content4 {
  height: 59px;
  width: 100%;
}

#content4 label {
  color: #216c98;
  top: -20px;
  left: 5px;
  font-size: small;
  font-size: 11px;
}

.containerA4 {
  padding-top: 4px;
  display: grid;
  height: 60px;
  grid-template-columns: 1fr 1fr;
}

#content5 {
  border-radius: 1px;
  height: 59px;
  width: 100%;
  background-color: rgb(213, 215, 215);
}

#content5 label {
  color: #216c98;
  top: -20px;
  left: 5px;
  font-size: small;
  font-size: 11px;
}

#content6 {
  border-radius: 1px;
  width: 100%;
  height: 59px;
  background-color: rgb(215, 228, 224);
}

#content6 label {
  color: #216c98;
  top: -20px;
  left: 5px;
  font-size: small;
  font-size: 11px;
}

.containerA5 {
  padding-top: 3px;
  display: grid;
  height: 60px;
  grid-template-columns: 1fr 1fr;
}

#content7 {
  border-radius: 1px;
  height: 59px;
  width: 100%;
  background-color: rgb(213, 215, 215);
}

#content7 label {
  color: #216c98;
  top: -20px;
  left: 5px;
  font-size: small;
  font-size: 11px;
}

#content8 {
  border-radius: 1px;
  width: 100%;
  height: 59px;
  background-color: rgb(215, 228, 224);
}

#content8 label {
  color: #216c98;
  top: -20px;
  left: 5px;
  font-size: small;
  font-size: 11px;
}

/* -------------Cancel/Save-------------- */
.savcanc {
  margin-top: 7%;
  margin-left: 330px;
  height: 50px;
  display: inline-flex;
}

#reset {
  height: 30px;
  width: 70px;
  color: maroon;
  border-radius: 20px;
  border-color: red;
  margin-right: 20px;
}

#save {
  height: 30px;
  width: 70px;
  color: green;
  border-radius: 20px;
  border-color: green;
}

/* -------------slidebar-------------- */
.sidebar1 {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 68px;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  border: 1px solid black;
}

.sidebar1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(15, 15, 15);
  display: block;
  transform: 0.3s;
}

.sidebar1 a:hover {
  color: #216c98;
}

.sidebar1 .closebtn {
  position: absolute;
  top: 0px;
  left: 140px;
  color: rgb(4, 4, 4);
  margin-left: 50px;
}

.openbtn {
  width: 14px;
  margin-top: 250px;
  font-size: 20px;
  cursor: pointer;
  background-color: #216c98;
  color: white;
  padding: 20px 1px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#main {
  transition: 0.5s ease;
}

.navside {
  width: 100%;
  padding-top: 0%;
  margin-left: 0%;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(215, 228, 224);
  flex: 1;
}

.navside a,
.dropdown-btn {
  padding: 0px 8px 6px 23px;
  margin-top: 4px;
  text-decoration: none;
  font-weight: 750;
  font-size: 11px;
  color: #045679;
  display: block;
  border: 1px #045679;
  background: white;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  height: 35px;
  overflow: hidden;
}

.dropdown-container {
  font-size: 20px;
  color: #045679;
  outline: #045679;
  display: none;
}

#send {
  width: 247px;
  height: 36px;
  margin-left: 1.5px;
  border: none;
  outline: 1px solid rgb(215, 228, 224);
}

#sent {
  height: 43px;
  width: 33px;
  background: transparent;
  border: none;
  padding-left: 87px;
}

#sent1 {
  margin-left: -31px;
  height: 35px;
  width: 25px;
  background: transparent;
  border: none;
}

#eid {
  height: 30px;
  padding-left: 17px;
}

#eid2 {
  height: 30px;
  padding-left: 17px;
}

#cfid {
  height: 30px;
  padding-left: 17px;
}

#lab {
  color: #045679;
  padding-left: 20px;
  font-size: 9px;
}

#upl {
  font-family: 'robot';
  font-size: 15px;
  position: relative;
  color: #2f2e2e;
  padding-left: 120px;
}

#fileList {
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

.side-container {
  margin-bottom: 3px;
  display: none;
}

#time {
  font-size: 9px;
  padding-left: 23px;
  color: #045679;
  height: 30px;
  font-weight: 700;
}

#time1 {
  float: right;
  font-size: 11px;
  color: black;
  padding-right: 65px;
}

#lhr {
  padding: 0%;
  margin: 0%;
  opacity: 0.4;
}

/* Copy Functionality css */
#text-to-copy {
  font-size: 15px;
  height: 20px;
  margin-bottom: 5px;
}

#cpbtn {
  float: right;
  margin-top: -35px;
  /* margin-left: 187px; */
  border: none;
  outline: none;
  width: 31px;
  height: 31px;
  border-radius: 20px;
  background: none;
  z-index: 2;
  position: relative;
}

#cpbtn:hover {
  background-color: rgb(6, 111, 140);
  ;
  transition: 0.5s ease;
  color: white;
}

.txt {
  width: 85%;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

#link-to-copy {
  font-size: 15px;
  height: 20px;
  margin-bottom: 5px;
}

#linkbtn {
  float: right;
  margin-top: -35px;
  border: none;
  outline: none;
  width: 31px;
  height: 31px;
  border-radius: 20px;
  background: none;
}

#linkbtn:hover {
  background-color: rgb(6, 111, 140);
  ;
  transition: 0.5s ease;
  color: white;
}

/* FILE DROPDOWN CSS */
#todoList {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 13px;
  border-bottom: 2px solid #0f6b93;
  /* width: 50%; */
  overflow: hidden;
}

#upload-btn {
  background: transparent;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-left: 20px;
  cursor: pointer;
}

#pluzlabel {
  margin-left: 85px;
}

#upload-btn1 {
  /* background-color: #4CAF50;  */
  border: none;
  color: #216c98;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  float: right;
}

#upload-btn2 {
  /* background-color: #4CAF50;  */
  border: none;
  color: red;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 13px;
  margin-left: 10px;
  cursor: pointer;
  float: right;
}

#upload-file {
  display: none;
}
