/* -------right sidebar---------- */
.navside {
    width: 100%;
    padding-top: 0%;
    margin-left: 0%;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(215, 228, 224);
    flex: 1;
}

#hideOnExpand{
    height: 470px;
    overflow-y: scroll;

}

#hideOnExpand::-webkit-scrollbar{
    width:5px;
}

#hideOnExpand::-webkit-scrollbar-thumb{
    background: lightgray;
}


.navside a,
.dropdown-btn {
    padding: 0px 8px 6px 23px;
    margin-top: 4px;
    text-decoration: none;
    font-weight: 750;
    font-size: 13px;
    color: black;
    display: block;
    border: 1px #045679;
    background: white;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    height: 35px;
    overflow: hidden;
}

.dropdown-container {
    font-size: 20px;
    color: #045679;
    outline: #045679;
    display: none;
}

#send {
    width: 247px;
    height: 36px;
    margin-left: 1.5px;
    border: none;
    outline: 1px solid rgb(215, 228, 224);
}

#sent {
    height: 43px;
    width: 33px;
    background: transparent;
    border: none;
    padding-left: 87px;
}

#sent1 {
    margin-left: -31px;
    height: 35px;
    width: 25px;
    background: transparent;
    border: none;
}

#eid {
    height: 30px;
    padding-left: 17px;
}

#eid2 {
    height: 30px;
    padding-left: 17px;
}

#cfid {
    height: 30px;
    padding-left: 17px;
}

#lab {
    color: #045679;
    padding-left: 20px;
    font-size: 9px;
}

#upl {
    font-family: 'robot';
    font-size: 15px;
    position: relative;
    color: #2f2e2e;
    padding-left: 120px;
}

#fileList {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

.side-container {
    margin-bottom: 3px;
    display: none;
}

#time {
    font-size: 9px;
    padding-left: 23px;
    color: #045679;
    height: 30px;
    font-weight: 700;
}

#time1 {
    float: right;
    font-size: 11px;
    color: black;
    padding-right: 65px;
}

#lhr {
    padding: 0%;
    margin: 0%;
    opacity: 0.4;
}

/* Copy Functionality css */
#text-to-copy {
    font-size: 15px;
    height: 40px;
    margin-bottom: 5px;
    border-right: 1px solid lightgray;
    text-align: center;
    padding-top: 15px;
}

#cpbtn {
    float: right;
    margin-top: -35px;
    border: none;
    outline: none;
    width: 31px;
    height: 31px;
    border-radius: 20px;
    background: none;
}

#cpbtn:hover {
    background-color: rgb(6, 111, 140);
    transition: 0.5s ease;
    color: white;
}

.txt {
    width: 100%;
    height: 40px;
    font-size: 15px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: grid;
    grid-template-columns: 2fr 6fr 4fr;
    border: 1px solid lightgray;
    align-items: center;
    align-content: space-around;
    /* text-align: center; */
}

#guidedFields {
    padding-left: 5px;
    font-size: 12px;
}

#guidedFieldsHead {
    font-weight: 500;
    color: rgb(201, 35, 35);
    padding-top: 15px;
    padding-left: 5px;
    border-right: 1px solid lightgray;
    height: 40px;
    justify-content: space-around;
}

#billingCustomer {
    height: 40px;
    outline: none;
    border-left: 1px solid lightgray;
    text-align: center;
    background: rgb(240, 238, 238);
    font-size: 12px;
}

#country-select{
    height: 40px;
    outline: none;
    border-left: 1px solid lightgray;
    background: white;
    font-size: 13px;
    font-weight: 100;
}
#currency-input{
    height: 40px;
    outline: none;
    border-left: 1px solid lightgray;
    background: rgb(240, 238, 238);
    font-size: 12px;
}

#folderIcon {
    height: 40px;
    outline: none;
    border-left: 1px solid lightgray;
    text-align: center;
    padding-top: 15px;
}

#address {
    display: none;
}

.addressBtn {
    width: 100%;
    height: 40px;
    background: none;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

#shipTable {
    display: none;
}

#billTable {
    display: none;
}

#shipAdd {
    display: grid;
    grid-template-columns: 5fr 6fr;
    margin-bottom: 10px;
    margin-top: -10px;
}

.billAdd {
    display: grid;
    grid-template-columns: 5fr 6fr;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* OPPORTUNITY DETAILS IN GUIDED SELLING */
#oppBtn {
    width: 100%;
    height: 40px;
    background: none;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

#oppIcon {
    height: 40px;
    outline: none;
    border-left: 1px solid lightgray;
    text-align: center;
    padding-top: 15px;
}

#opportunity {
    display: none;
}

#csamData {
    display: none;
}

.csamForm {
    display: grid;
    grid-template-columns: 5fr 6fr;
    margin-top: -10px;
    margin-bottom: 10px;
}

#read {
    background: white;
    color: #045679;
    height: 40px;
    font-size: 12px;
    text-align: center;
}

#edit {
    background: white;
    color: #045679;
    height: 40px;
    font-size: 12px;
    text-align: center;
}

/* START OF QUOTE DETAILS */
#quoteIcon {
    height: 40px;
    outline: none;
    border-left: 1px solid lightgray;
    text-align: center;
    padding-top: 15px;
}

#quote {
    display: none;
}

#guidedFieldsQuote {
    padding-left: 10px;
    font-size: 14px;
    padding-top: 10px;
}

#quoteAngleBtn {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background: none;
    border: 1px solid lightgray;
}

#tScope {
    display: none;
}

.type {
    display: grid;
    grid-template-columns: 5fr 6fr;
    border-bottom: 1px solid lightgray;
}

.scope {
    display: grid;
    grid-template-columns: 5fr 6fr;
    /* display: none; */
    margin-bottom: 10px;
    /* margin-top: -10px; */
    border-bottom: 1px solid lightgray;
}

#quoteSelect {
    height: 40px;
    outline: none;
    border-left: 1px solid lightgray;
    text-align: center;
    padding-top: 15px;
}


/* BID ESTIMATION CSS */
#bidIcon {
    height: 40px;
    outline: none;
    border-left: 1px solid lightgray;
    text-align: center;
    padding-top: 15px;
}

#bidData {
    display: none;
}


/* POPUP PAGE CSS */
.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.popup {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    background-color: #fff;
    border: 2px solid #0aa7eb;
    padding: 10px;
    z-index: 1000;
    display: none;
    overflow: scroll;
}

.popupBackground {
    display: grid;
    grid-template-columns: 11fr 1fr;
    height: 15px;
    margin-bottom: 30px;
}

#popupIcon {
    float: right;
    color: #0aa7eb;
    margin-top: -45px;
}

.generalBtn {
    width: 100%;
    height: 45px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;

}

.txtPopup {
    display: grid;
    grid-template-columns: 5fr 5fr;
    margin-top: -10px;
}

#readPopupHead {
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    padding-left: 40px;
    margin-bottom: 20px;
}

#readPopup {
    height: 40px;
    outline: none;
    text-align: center;
    align-content: space-around;
    border: 1px solid lightgray;
    color: #0c729e;
    /* font-weight: bold; */
    font-size: 12px;

}

#editPopup {
    height: 40px;
    /* outline: none; */
    text-align: center;
    align-content: space-around;
    border: 1px solid lightgray;
    outline-color: #045679;

}

#containerPopup {
    display: none;
}

#popupIcon {
    background: none;
    border: none;
    padding-left: 120px;
    margin-bottom: 20px;
}


/* BID ESTIMATION TABLE CSS */
#gddata {
    width: 100%;
    background: white;
    height: 45px;
    border: 1px solid lightgray;
    font-size: 14px;
    color: gray;
    text-align: left;
    padding-left: 13px;
    margin-top: 10px;
}

#tbvalue {
    display: none;
}

th {
    /* padding-left: 20px; */
    height: 45px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    color: #045679;
    font-size: 7px;
    text-align: center;
}

td {
    /* padding-left: 25px; */
    height: 45px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    font-size: 12px;
    text-align: center;
}

#bord {
    border: none;
    outline: none;
    height: 100%;
    width: 90%;
}

#servicevalue {
    display: none;
}

#link-to-copy {
    font-size: 15px;
    height: 20px;
    margin-bottom: 5px;
}

#linkbtn {
    float: right;
    margin-top: -35px;
    border: none;
    outline: none;
    width: 31px;
    height: 31px;
    border-radius: 20px;
    background: none;
}

#linkbtn:hover {
    background-color: rgb(6, 111, 140);
    transition: 0.5s ease;
    color: white;
}


/* APPLY BUTTON CSS */
.guideApply {
    border: 2px solid #0aa7eb;
    background: none;
    color: #0aa7eb;
    border-radius: 15px;
    text-align: center;
    margin-left: 40%;
    width: 80px;
    height: 25px;
    font-size: 12px;
    margin-top: 20px;
}

/* Services Css Start Section */


.servicelabel {
    border-top: 1px solid lightgray;
    display: grid;
    grid-template-columns: 5fr 5fr;
    height: 40px;
}

.servicebox {
    border-top: 1px solid lightgray;
    display: grid;
    grid-template-columns: 5fr 5fr;
    height: 40px;
}

#proffessionalCircle{
    margin-left: 43%;
    height: 40px;
}

#management{
    appearance: none;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border: 1px solid lightgray;
    margin-top: 8px;
    margin-left: 100px;  
    cursor: pointer;
}

#managementCircle{
    margin-left: 43%;
    height: 40px;
}
