@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* --------------------top navigation bar(black)------------------------------- */

nav{
    display: flex;
    width: 100%;
    background:rgb(41, 41, 44);
    justify-content: space-between;
    padding: 6px 0px;
     
}

.navset a i{
font-size: 20px;
}

.navandbread{
  position: fixed;
  width: 100%;
  z-index: 2;
}
/* -----------------top navigation search bar------------------- */
      /* .search-bar{
        margin-top: 3px;
      }

     .search-bar:hover input{ 
        padding-left: 15px;
        width: 200px;
        height:90%;
        color: rgb(14, 14, 14);
    } 
    .search-bar input{
        margin-left: 8px;
        background:white; 
        border: none;
        border-radius:10px;
        outline: none;
        width: 0px;
        font-weight: 80%;
        font-size: 13px;
        transition: 0.8s;
    
    }
    .search-bar a li.fas{
        color:white;
    } */
    /* ---------------profile dropdown -------------------- */
.dropbtn{
    background-color:rgb(35, 35, 79);
    color: white;
    padding: 16px; 
    font-size: 16px;
    border: none; 
    cursor: pointer;
  }
  
  .dropbtn:hover,.dropbtn:focus {
    background-color:rgb(20, 20, 77);
  } 

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 29px;
    right: 0px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 16px 20px;
    font-family:sans-serif;
    font-size: x-small;
    font-size: 80%;
    text-decoration: none;
    display: block;
    border-bottom:1px solid rgb(11, 11, 11);
  }
  
  .dropdown a:hover {
    background-color:#045679;
    color: white;
  }
  
  .show {display: block;}
body
{
    background-color:#fff;
    background-size: cover;
    background-position: center;
    font-family: monospace;
    height: 100vh;
    overflow-x: hidden;

}
/* -------------left content bar(cms)------------------ */
.content-bar{
    /* background:rgb(46, 46, 154); */
    background:#045679;
    position:fixed;
    top: 64.5px;
    left: 0px;
    width: 66px;
    height:600px;
    padding: 15px,0px;
    text-align:center;
    font-family:'robot'; 
    font-size:8px;   
    z-index: 1;
}
.content-bar a{
text-decoration: none;
}
 .content-bar ul{
    display:block;
    background-origin: padding-box;
    list-style: none;
    color: #fff;
}
.content-bar ul a li{
    width: 66px;
    padding: 13px;
    border-bottom:1px solid whitesmoke;
    text-decoration: none;
    color:whitesmoke;
}
.content-bar ul a li i{
font-size: 20px;
padding: 3px;
}
 .active,.content-bar ul a li:hover{
    color: #151717;
      background:white;
} 
ul a li.active1{
  color: #151717;
  background:white;
}
/* ------------breadcrumbs path----------------- */
.breadcrumbs{
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-family: sans-serif;
    font-size: x-small; 
    background-color: white;
}

.breadcrumbs--item{
 display: inline-block;
}
.breadcrumbs--item:not(:last-of-type)::after{
    content: '\203a';
    content-visibility:visible;
    margin: 0 10px;
    color: #a39494;
}
.breadcrumbs--link{
    text-decoration:none;
    color: #999999;    
}

.breadcrumbs--link--active{
    color: #1b2a27;
    font-size: 12px;
    font-weight: 500;
    font-weight: bold;
}
.breadcrumbs i:hover{
  background-color: #216c98;
  color: white;
}
.hr{
    border: none;
    height: 1px;
    background: #8a8787;
    }
/* ------------------------------------------------------------------------- */

   .box{
    margin-right:1.4%;
    float: left;
    width:577px;
    height:330px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.4px;
    background-color: #fff;
    border: 0.2px solid #eef1f3;
     border-radius:4.5px;
   }
   .box .btn{
      border-radius:3.5px;
   }
   .btn{
    background-color:rgb(213, 227, 231);
    width: 100%;
    border-radius:1%;
    height: 50px;
    display: flex;
    overflow: hidden;
     border: #1e1e1f; 
     align-items: center;
     padding-left: 110px; 
   }

   
   .bt{
    width: 140px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    background-color: #fff;
    font-weight: bold;
    font-size: 10px;
    border-radius:2px;  
   }
   
   .btn2{
    width: 160px;
    height: 29px;
    border: 1px solid black;
    outline: none;
    background-color: #fff;
    font-weight: bold;
    font-size: 10px;
    border-radius:2px;
    align-content: center;
    margin-left:55%;
    background-color:#3d87a6;
    color: #e7eaea;
     
   }
   .section2{
    padding-top: 30%;
    /* padding-left: 10%; */
   }

   .bts{
    width: 160px;
    height: 30px;
    border: 1px solid black;
    background-color: #fff;
    font-weight: bold;
    font-size: 10px;
    border-radius:2px;
   }

   .active,bts:hover{
    background-color:#3d87a6;
    color: #e7eaea;
    
   }
    .activ,bts:hover{
      background-color:#3d87a6;
      color:#e7eaea;
   }
   .container-fluid{
    padding-left: 6%;
    padding-top: 68px;
   }
   
   /* ------------------search------------------ */
    .search{
    left: 10px;
    position: relative;
    width: 30px;
    height: 23px; 
    background:rgb(241, 241, 245);
    border-radius:90px;
    transition: 0.5s;
    box-shadow: 0 0 0 1px rgb(41, 41, 44); 
    overflow: hidden;
   }
   
   .search.active{
    width: 250px;
   }
   .search .icon{
    position: absolute;
    top: 0;
    left:-12px; 
    width: 60px;
    height: 28px;
    background:rgb(242, 240, 240);
     /* border-radius: 60px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1000; 
    cursor: pointer;
   }
   .search .icon::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2.5px solid black;
    border-radius: 50%;
    transform: translate(-4.5px,-4.5px);
    
   }
   .search .icon::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    background: black;
    color: black;
    border-radius: 40%;
    transform: translate(3px,3px) rotate(315deg);
   }
   .search .input{
    position: relative;
    width:200px; 
    height: 60px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .search .input input{
     position:relative;
     bottom:18px; 
     width: 100%; 
     height: 100%; 
     border: none;
     outline: none;
     font-size: 13px;
     padding: 10px 0;
   }
   .clear{
    position:absolute;
    top: 20%;
    transform: translate(-60%);
    width: 15px;
    height: 15px;
    right: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 10px;
    background: #999;
    transform: rotate(45deg);
   }
   .clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 10px;
    background: #999;
    transform: rotate(315deg);
   } 
   /* ------------------Help icon---------------------------- */
   .helpbox{
    position:fixed;
    right:0px;
    bottom: 10px;
    border: 1.5px solid black;
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.3s ease-out;
    z-index:3;
   }

   .inbox input[type="text"] {
    height: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: larger;
  }

.help-input {
    height: 59px;
    width: 100%;
}


   /* --------------------helper---------------------- */
    /* .button1{
    font-size: 1em;
    padding: 15px 35px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #403e3d;
    border-radius: 50px;
   }  */
   .overlay{
     position:fixed;
     top: 27px;
    bottom: 0;
    right: 0; 
    left:66.5%;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
   }
   .overlay:target{
    visibility:visible;
    opacity: 1;
   }
   .wrapper{
    margin: 40px; 
    padding: 10px;
    background:#fafbfb;
    border: 1.5px solid rgb(122, 118, 118);
    border-radius: 4px;
    width: 382.5px;
    height: 532px;
    position:absolute;
    transition: all 1s ease-in-out;
    overflow-y:auto;

   }
   .wrapper .head{
    padding-top: 7px;
    background-color: #3d87a6;
    border-radius: 2px;
    height: 35px;
   }
   .wrapper p{
     margin-top: 0; 
     color: rgb(252, 249, 249); 
    /* background-color: #3d87a6; */
    align-content: center;
    padding-left: 95px;
    font-size: large;
    font-weight:bold;
    font-size:16px;
   }
   .wrapper .close{
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight:100;
    text-decoration: none;
     color: rgb(254, 254, 254); 
   }
   .wrapper .content{
    max-height: 300%;
    overflow:inherit;
   }
   .container{
    border-radius: 5px;
    /* background-color: #e7e7e7; */
    padding: 20px 0;
   }
   form label{
    font-family: 'robot'; 
    font-family:sans-serif;
    font-weight: bold;
    font-size:12px;
    position:relative;
   color: #2f2e2e;
   }
  input[type=text] .help,textarea{
     width: 100%; 
     padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
    resize:both;
    /* background-color:#f4f5f7; */
   } 
   input[type="submit"]{
    background-color:#4785a0;
    color: #fff;
    padding: 11px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 140px;
   }

   #format,select{
   width:100%;
   height: 35px;
   background-color:#f4f5f7;
   border-radius: 5px;
   font-family:sans-serif;
    font-weight: bold;
    font-size:12px;
   
   }
   .em{
    width: 100%;
    height: 30px;
   }

/* --------------Sidebar Css ------------------ */

.navbar {
  position: absolute;
  right: -260px;
  width: 260px;
  height: 700px;
  overflow: visible;
  background-color: white;
  color: aqua;
  transition: 0.800s ease;
  border: 2px solid rgb(24, 162, 186);
  z-index: 1;
  transition: var(--transition);
  margin-top: -360px;
}

.navbar::after {
  z-index: -1;
  transition: var(--transition);

}

.sidenav {
  width: 100%;
  margin-left: 0%;
  text-decoration: none;
  color: black;
  border: 0.1px solid rgb(218, 212, 212);
  font-size: 1.1em;
  /* padding: 1em; */
  flex: 1;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 23px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.active .dropbtn{
  /* background-color: rgb(201, 198, 198); */
  color: black;
}

.dropdown-container {
  display: none;
  background-color: white;
  padding-left: 0px;
}



.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* end of dropdown css */

.toggle-collapse {
  float: left;
  margin-left: -3.3em;
  margin-top: .5em;
  content: "";
  outline: inherit;
  border: 0px;
  background: transparent;
}

#homesideicon {
  font-size: 40px;
  color: white;
  bottom: -20px;
  position: relative;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
  width: 30px;
  height: 3px;
  position: fixed;
  cursor: pointer;
  transition: 0.800s ease;
  margin-top: 0.8em;
}

.toggle-icon::before {
  position: absolute;
  left: -1px;
  margin-top: -0.8em;
}

.toggle-icon::after {
  position: absolute;
  left: -1px;
  margin-top: 0.6em;
  width: 20px;
}

.toggle-icon {
  margin-top: 90%;
  /* font-weight: 2px; */
  /* content: url('https://api.iconify.design/material-symbols/keyboard-arrow-left.svg'); */
  width: 38px;
  height: 80px;
  background-color: rgb(24, 162, 186);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 0.5;
  position: absolute;
}

.show .toggle-icon::after {
  width: 30px;
}

.show .toggle-icon {
  width: 38px;
}

.nav-item>.site-name {
  text-decoration: none;
  padding: 1.3em;
  font-size: 2em;
  color: whitesmoke
}

.item active {
  background-color: white;
  color: black;
}