body{
  font-family: 'Courier New', Courier, monospace;
}

.flex-container{
    width: 100%;
    height: 100vh;
    position: fixed;
}

/* Create a column layout with Flexbox */
.row-newquote {
    display: flex;
    padding-left: 66px;
    /* padding-top: 30px; */
    background-color: white;
  }
  
  /* Left column (menu) */
  .left-newquote {
    flex: 22%;
    border: 2px solid #045679;
    width: 25%;
    height: 100vh;
    padding-left: 1px; 
}

  .right-newquote{
    flex: 70%;
    /* background-color: burlywood; */
    border-right: 1px solid black;
    width: 25%;
    height: 100vh;
    padding-left: 5px;
  }

  /* Css For haeding of left section */
  .ugs{
    padding-left: 30px;
    padding-top: 10px;
    height: 50px;
    font-size: 20px;
    background-color: #045679;
    color: white;
  }

  .quotebtn{
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-bottom: 1px solid lightgray;
  }

  .quotebtn:hover{
    background-color: rgb(188, 216, 225);
    color: black;

  }

 